.env

/dist
/tmp
/out-tsc

node_modules

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

.DS_Store
Thumbs.db

apps/api/.DS_Store
apps/api/.AppleDouble
apps/api/.LSOverride
apps/api/Icon
apps/api/.Spotlight-V100
apps/api/.Trashes
apps/api/._*
apps/api/Thumbs.db
apps/api/ehthumbs.db
apps/api/Desktop.ini
apps/api/$RECYCLE.BIN/
apps/api/*.cab
apps/api/*.msi
apps/api/*.msm
apps/api/*.msp
apps/api/.tmp
apps/api/*.log
apps/api/*.sql
apps/api/*.sqlite
apps/api/*.sqlite3
apps/api/ssl
apps/api/.idea
apps/api/nbproject
apps/api/public/uploads/*
apps/api/!public/uploads/.gitkeep
apps/api/lib-cov
apps/api/lcov.info
apps/api/pids
apps/api/logs
apps/api/results
apps/api/node_modules
apps/api/.node_history
apps/api/testApp
apps/api/coverage
apps/api/.env
apps/api/license.txt
apps/api/exports
apps/api/*.cache
apps/api/build
apps/api/.strapi-updater.json
apps/api/dist
